name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        target: [linux/amd64, linux/arm64, windows/amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Fyne Cross Build
        uses: lucor/fyne-cross-action@v1
        with:
          target: ${{ matrix.target }}
          path: ./cmd/wkey

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: fyne-cross/dist/${{ matrix.target }}/*
